---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Welcome to Reagan Enoch Owiti's World"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Hello, and welcome to my digital space! I'm Reagan Enoch Owiti, a passionate software engineer 
		on a mission to innovate and transform the world through technology. Let me take you on a journey 
		through my experiences and endeavors.
	</p>

	<h3>About Me</h3>

	<p>
		I hold a degree in Software Engineering and Data Analysis, a testament to my dedication to 
		understanding and mastering the intricacies of the digital realm. My educational journey began 
		at Kabarak University, where I earned both my certificate and diploma in Information Technology. 
		Later, I expanded my knowledge base by obtaining a Bachelor's degree in Computer Science from the 
		University of the People.
	</p>

	<h3>Entrepreneurial Spirit</h3>

	<p>
		Driven by a vision for positive change, I founded SwipyPay, a fintech startup with a focus on 
		revolutionizing cross-border payment solutions in Africa. SwipyPay was born out of a commitment 
		to making financial transactions seamless and accessible across the continent. The journey has 
		been challenging but incredibly rewarding, and it fuels my desire to contribute to the growth of 
		financial technology in Africa.


	</p>

	<h3>Passion for Music, Anime, and Coding</h3>

	<p>
		Beyond the world of programming and entrepreneurship, I find solace and inspiration in music, anime, 
		and coding. Music has the power to evoke emotions and bring people together, while anime serves as a 
		captivating escape into fantastical realms. Coding, on the other hand, is not just a profession but a 
		creative outlet—a way to craft solutions and build something meaningful.
	</p>

	<h3>Continuous Learning and Growth</h3>

	<p>
		In the dynamic field of technology, learning is a continuous process. I am committed to staying at the 
		forefront of industry trends, exploring new technologies, and enhancing my skills. This dedication to 
		growth ensures that I can tackle challenges head-on and contribute to the ever-evolving landscape of 
		software engineering.
	</p>

	<h3>Let's Connect!</h3>

	<p>
		I believe in the power of collaboration and connection. Whether you share a similar passion for technology, 
		entrepreneurship, or simply want to chat about music and anime, I'm always open to new connections. Feel free 
		to explore my tech.get blog site further, and don't hesitate to reach out. Let's build something great together!

Thank you for visiting, and I look forward to connecting with you.
	</p>
</Layout>
