---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Techie!</h1>
			<p>
			Hello techie welcome to tech.get the all tech development platform for all people intrested 
			in tech and all tech-related fields such as programming, networking, linux, data analysis and 
			much much more. Thank you for taking time and visiting our platform look around and have fun!
			</p>
			<p>
				This is the comapny blog site where we post all relevant topics in tech and have open
				descussions and much much more. This site is built on the astro framework and we are open 
				in creating a more suitable platform for everyone and thus we invite everyone to follow us on github
				and collaborate in making this optimal youll find the instructions on how to contribute and be an active 
				member <code>tech.get.readme</code> file. is the go to place to find out more.
				<a href="https://github.com/Tech-get-kenya/.github/blob/main/README.md">Tech.get comapany page</a> to understand 
				more on the comapny profile
			<p>Here is how the company gihub is set.</p>
			<ul>
				<li>This is the README page <code>https://github.com/Tech-get-kenya/.github/blob/main/README.md</code></li>
				<li>Edit the site header items in <code>https://github.com/Tech-get-kenya/.github/blob/main/README.md</code></li>
				<li>Add your name to the footer in <code>https://github.com/Tech-get-kenya/.github/blob/main/README.md</code></li>
				<li>Check out the included blog posts in <code>https://github.com/Tech-get-kenya/.github/blob/main/README.md</code></li>
				<li>Customize the blog post page layout in <code>https://github.com/Tech-get-kenya/.github/blob/main/README.md</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href=https://github.com/Tech-get-kenya/.github/blob/main/README.md"
					>read the docs
				</a> or <a href="#">join us on chat</a> to ask questions.
			</p>
			<p>
				Thank you for being a part of the community and let build great things together <a
					href="https://github.com/Tech-get-kenya/.github/blob/main/README.md"
					>tech.get company page.
				</a> by <a target="_blank" href="https://github.com/Reagandennis">Reagan Enoch.</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
